[submodule "dtkcore"]
	path = dtkcore
	url = https://github.com/linuxdeepin/dtkcore.git
[submodule "dtkgui"]
	path = dtkgui
	url = https://github.com/linuxdeepin/dtkgui.git
[submodule "dtkwidget"]
	path = dtkwidget
	url = https://github.com/linuxdeepin/dtkwidget.git
[submodule "doxygen-theme"]
	path = doxygen-theme
	url = https://github.com/linuxdeepin/doxygen-theme.git
