[submodule "doxygen-theme"]
	path = doxygen-theme
	url = https://github.com/linuxdeepin/doxygen-theme.git
[submodule "dtkcore"]
	path = dtkcore
	url = https://github.com/linuxdeepin/dtkcore.git
[submodule "dtkgui"]
	path = dtkgui
	url = https://github.com/linuxdeepin/dtkgui.git
[submodule "dtkwidget"]
	path = dtkwidget
	url = https://github.com/linuxdeepin/dtkwidget.git
[submodule "dtksystemsettings"]
	path = dtksystemsettings
	url = https://github.com/linuxdeepin/dtksystemsettings.git
[submodule "dtknotifications"]
	path = dtknotifications
	url = https://github.com/linuxdeepin/dtknotifications.git
[submodule "dtknetworkmanager"]
	path = dtknetworkmanager
	url = https://github.com/linuxdeepin/dtknetworkmanager.git
[submodule "dtkio"]
	path = dtkio
	url = https://github.com/linuxdeepin/dtkio.git
[submodule "dtkmultimedia"]
	path = dtkmultimedia
	url = https://github.com/linuxdeepin/dtkmultimedia.git
[submodule "dtkdeclarative"]
	path = dtkdeclarative
	url = https://github.com/linuxdeepin/dtkdeclarative.git
[submodule "dtkdevice"]
	path = dtkdevice
	url = https://github.com/linuxdeepin/dtkdevice.git
